.logo-area img{
	width: 110px;
	margin-top: 10px;
}
body{
    font-family: 'Spartan', sans-serif;
}
a{
    text-decoration: none;
}
.header-area{
    background-color: #e0e0e0;
    position: relative;
    z-index: 9;
}
.menu-area ul{
	list-style: none;
	align-content: flex-end;
	justify-content: flex-end;
	margin-bottom: 0;
	padding-left: 0;
}
.menu-area ul li a{
	padding: 10px 20px;
	color: #111111;
	line-height: 70px;
	display: block;
    font-weight: 500;
    font-size: 15px;
    position: relative;
}
.menu-area ul li a::before{
	content: '';
	position: absolute;
	left: 16px;
    bottom: 0;
	width: 0;
	height: 3%;
	background-color: #9d8fec;
	transition: .4s;
}
.menu-area ul li:hover a::before{
    width: 71%;
}
.active1{
    color: #3763eb !important;
    position: relative;
}
.active1::after{
    content: '';
    position: absolute;
	left: 16px;
    bottom: 0;
	width: 71%;
	height: 3%;
	background-color: #9d8fec;
    transition: .4s;
}
.header-btn{
    margin-top: 20px;
}
.btn-btn a{
	padding: 15px 25px;
	border-radius: 50px;
	border: 1px solid rgb(245, 239, 239);
	color: #3763eb;
    transition: .4s;
    font-weight: 500;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
}
.btn-btn a:hover{
    color: #ffffff;
}
.btn-btn a::before{
    content: '';
    width: 0;
    height: 100%;
    background-color: #6a89cc;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    border-radius: 50px;
    z-index: -1;
}
.btn-btn a:hover::before{
    width: 100%;
  }

/* start drop daown menu */
.menu-area ul li{
    position: relative;
}
.menu-area ul li ul{
	position: absolute;
	width: 248px;
    height: 137px;
	top: 100%;
	left: 13px;
	background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
}
.menu-area ul li ul li a::before{
    width: 0%;
    height: 0;
}
.menu-area ul li ul li{ 
    display: block;
}
.menu-area ul li ul li a{
	background-color: blue;
	display: block;
	padding: 0 21px;
	width: 202px;
	height: 67px;
	margin: auto;
	color: #ffffff;
	line-height: 69px;
	margin-top: 35px;
}
.menu-area ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transition: .5s;
}
/* start banner area */
.lead-content{
    height: 40vh;
    display: flex;
    align-items: center;
    position: relative;
}
.banner-content h1{
	font-size: 40px;
	font-weight: 600;
}
.banner-content p{
	font-size: 16px;
    color: #727272;
}
.btn-btn2 a{
	padding: 16px 25px;
	border-radius: 50px;
	border: 1px solid transparent;
	color: #ffffff;
    background-color: #3763eb;
    transition: .4s;
    font-size: 17px;
    font-weight: 600;
}
.btn-btn2 a:hover{
    background-color: #ffffff;
    border: 1px solid #3763eb;
    color: #3763eb;
}
.banner-img{
    overflow: hidden;
}
.banner-img img{
    position: absolute;
    top: -155px;
    right: -144px;
    width: 730px;
    height: 730px;
    z-index: 2;
    border-radius: 50%;
}
.banner-section{
    padding: 140px 0;
    background-color: #edf6ff;
    overflow: hidden;
    position: relative;

}
/* start service area */
.service-area{
    margin-bottom: 50px;
}
.service-heading h2{
	font-size: 38px;
	font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}
.service-heading h2::before{
	content: '';
	position: absolute;
	top: 96px;
	left: 6px;
	width: 8%;
	height: 3%;
	background-color: #9d8fec;
}
.service-heading h4{
	font-size: 15px;
	color: #4a69bd;
    margin-bottom: 20px;
	font-weight: 400;
}
.service-heading p{
	font-size: 15px;
	width: 87%;
	color: #727272;
}
.service-product:hover .service-icon::before{
    background-color: #ffffff;
    width: 80%;
    transition: .4s;
}
.product-heading h3{
    font-size: 19px;
    margin: 20px 0;
}
.service-icon{
	background-color: #3763eb;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50px 50px 50px 0;
	color: #ffffff;
	font-size: 25px;
	margin-bottom: 20px;
    position: relative;
}
.service-product:hover .service-icon{
    background-color: #ffffff;
    color: #3763eb;
}
.service-icon::before{
	content: '';
	position: absolute;
	top: 83px;
	left: 0;
	width: 45%;
	height: 4%;
	background-color: #9d8fec;
    transition: .4s;
}
.service-product{
	background-color: #f6f9fc;
	padding: 20px;
	border-radius: 6px;
	box-sizing: border-box;
    transition: .4s;
}
.service-product:hover{
    background-color: #3763eb;
    color: #ffffff;
    transform: scaleY(1.05);
}
.product-details p{
    font-size: 15px;
    margin-top: 50px;
}
.item4{
    margin-top: 60px;
}
.sp-img{
    position: relative;
}
.sp-img img{
	position: absolute;
	top: 101px;
	left: -56px;
	z-index: -1;
}
/* start play area */
.play-area{
  background-image: url('image/video-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
    z-index: 1;
}
.play-area::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64,76,105, 0.8);
    z-index: -1;
}
.play-heading h6{
    font-size: 15px;
    margin-bottom: 20px;
}
.play-heading h2{
	font-size: 28px;
	font-weight: 500;
    position: relative;
    margin-bottom: 40px;
}
.play-heading h2::before{
	content: '';
	top: 45px;
	left: 45%;
	position: absolute;
	width: 7%;
	height: 4%;
	background-color: #ffffff;
}
.play-heading p{
	font-size: 15px;
	width: 42%;
	margin: auto;
	font-weight: 400;
}
/* start paly button */
.play-icon1{
    margin-top: 100px;
}
.play{
    display: inline-block;
    background-color: #ffffff;
    font-size: 24px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    transition: .4s;
    color: #3763eb;
    position: relative;
}
.play:hover{
    color: #ffffff;
    background-color: #3763eb;
}
.play::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    animation-name: one;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
}
.play::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    animation-name: tow;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
    animation-delay: .2s;
}
@keyframes one{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes tow{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}


.pricing-area{
    background-color: #f6f9fc;
}
.pricing-heading h5{
	font-size: 14px;
	color: #345ed2ce;
	margin-bottom: 14px;
}
.pricing-heading h3{
	font-size: 32px;
	font-weight: 600;
    position: relative;
}
.pricing-heading h3::before{
	content: '';
	position: absolute;
    left: 47%;
	bottom: -17px;
	width: 4%;
	height: 4%;
	background-color: #0d6efd;
}
.pricing-table-heading span{
    font-size: 46px;
    margin-top: 39px;
}
.pat{
    margin-top: 70px;
    margin-bottom: 40px;
}
.pricing-heading p{
	font-size: 15px;
	width: 35%;
	color: #727272;
	margin: auto;
	margin-top: 43px;
    font-weight: 500;
}
.pricing-table{
	background-color: #ffffff;
	padding: 25px;
	box-sizing: border-box;
    transition: .4s;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.pricing-table:hover{
    background-color: #0d6efd;
    color: #ffffff;
}
.pricing-table:hover .pricing-middel ul li{
    color: #ffffff;
} 
.pricing-table:hover .pricing-btn a{
    background-color: #ffffff;
    color: #0d6efd;
}
.pricing-table-heading{
    transition: 2s;
}
.pricing-table:hover .pricing-table-heading{
    color: #ffffff;
}
.pricing-table-heading h5{
	font-size: 20px;
	font-weight: 500;
	margin-top: 20px;
}
.pricing-table-heading h2{
	font-size: 40px;
	margin-top: 39px;
    font-weight: 600;
}
.pricing-table-heading h2 span i{
    font-weight: 500;
    font-size: 40px;
}
.pricing-table-heading h3{
    position: relative;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 70px;
}
.pricing-table-heading h3::before{
	content: '';
	position: absolute;
	left: 24%;
	bottom: -40px;
	width: 54%;
	height: 7%;
	background-color: #ddd;
}
.pricing-middel ul{
    padding-left: 0;
}
.pricing-middel ul li{
	list-style: none;
	color: #727272;
	font-size: 16px;
	line-height: 36px;
}
.pricing-btn a{
	display: inline-block;
	padding: 10px 20px;
	background-color: #0d6efd;
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	border-radius: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #ffffff;
}
.pricing-btn a:hover{
    color: #ffffff !important;
}
.pricing-btn  a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
   background-color: #0d6efd;
   border-radius: 50px;
   transition: .4s;
   z-index: -1;
}
.pricing-btn  a:hover::before{
    width: 100%;
}
/* start banner section */
.banner-section3{
    background-image: url('free-bg.jpg');
    padding: 120px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.banner-section3::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #345ed2ce;
    z-index: -1;
}
.banner-heading h5{
    font-size: 14px;
    font-weight: 500;
}
.banner-heading h2{
	font-size: 27px;
	width: 37%;
	margin: auto;
	font-weight: 600;
    position: relative;
}
.banner-heading h2::before{
	content: '';
	position: absolute;
	left: 44%;
	bottom: -19px;
	width: 11%;
	height: 3%;
	background-color: #ddd;
}
.banner-heading p{
	font-size: 15px;
	font-weight: 600;
	width: 39%;
	margin: auto;
    margin-top: 40px;
}
.banner-btn a{
    display: inline-block;
	padding: 12px 20px;
	background-color: #ffffff;
	color: #0d6efd;
	font-weight: 600;
	font-size: 16px;
	border-radius: 50px;
    position: relative;
    border: 1px solid transparent;
    z-index: 1;
    overflow: hidden;
}
.banner-btn a:hover{
    color: #ffffff;
}
.banner-btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: #3763eb;
    border: 1px solid #ffffff;
    transition: .4s;
    z-index: -1;
}
.banner-btn a:hover::before{
    width: 100%;
}
/* start contact area */
.contact-area{
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #f8f9fa;
}
.contact-form{
    background-color: #3763eb;
    padding: 46px;
    border-radius: 5px;
}
.contact-form h2{
	font-size: 22px;
	color: #ffffff;
	font-weight: 600;
}
.contact-form p{
	font-size: 15px;
	color: #ffffff;
	width: 57%;
	font-weight: 500;
	margin-top: 20px;
}
.contact-form input{
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    width: 100%;
}
.contact-form form{
    margin-top: 30px;
}
.contact-form button{
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #3763eb;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 700;
}
.contact-area-right{
    background-color: #ffffff;
    width: 80%;
    padding: 30px 44px;
    box-shadow: 1px 1px 11px #d3d0d0;
    margin-left: 20px;
}
.contact-area-right p{
	font-size: 20px;
	font-weight: 600;
	width: 67%;
}
.get-btn{
    margin-top: 77px;
}
.get-btn a{
    display: inline-block;
	padding: 10px 20px;
	background-color: #0d6efd;
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	border-radius: 50px;
    transition: .4s;
}
.get-btn a:hover{
    background-color: #3763eb;
}
/* last part */
.blog{
    margin-top: 80px;
}
.blog-area{
    padding: 100px 0;
}
.blog-area img{
    max-width: 100%;
}
.blog-img img{
    border-radius: 5px;
}
.blog-img{
    position: relative;
}
.blog-image-details{
    align-items: center;
    background: #3763eb;
    width: 200px;
    height: 55px;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    top: 72%;
    right: 5%;
}
.blog-image-details img{
    width: 45px;
    border-radius: 50%;
}
.blog-image-details h3{
    font-size: 10px;
    margin-left: 25px;
    color: #ffffff;
    margin-bottom: 0;
}
.blog-image-content{
    margin-top: 30px;
}
.blog-image-content h2{
	font-size: 19px;
	font-weight: 600;
}
.blog-image-content p{
	font-size: 14px;
	color: #727272;
	font-weight: 500;
	margin-top: 22px;
}
/* start fotter area */
.footer-section{
    background-color: #081828;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 20px;
}
.footer-section ul li{
    list-style: none;
}
.footer-item img{
    width: 150px;
}
.footer-item p{
	font-size: 15px;
	margin-top: 34px;
	width: 76%;
	color: #ddd;
    line-height: 34px;
}
.footer-social-menu ul{
    padding-left: 0;
}
.footer-social-menu ul li a{
   padding: 15px;
   font-size: 20px;
   color: #ffffff;
}
.footer-item2 h3{
    font-size: 18px;
    margin-left: 14px;
    position: relative;
}
.footer-item2 h3::before{
	content: '';
	position: absolute;
	top: -2px;
	left: -16px;
	width: 1%;
	height: 120%;
	background-color: #3763eb;
}
.footer-list ul{
    padding-left: 0;
}
.footer-list ul li a{
	color: rgb(184, 179, 179);
	font-size: 13px;
	padding: 10px 0;
	display: block;
	font-weight: 500;
}
.footer-bt{
    border-top: 1px solid #ddd;
}
.footer-bt p{
	margin-top: 33px;
	color: rgb(184, 179, 179);
	font-size: 14px;
	font-weight: 500;
}
/* start awesome area design */
.awesome-area{
    padding-top: 100px;
}
.awesome-content h4{
    font-size: 15px;
    color: #3763eb;
    font-weight: 400;
}
.awesome-content h2{
	font-size: 40px;
	font-weight: 600;
	color: #000;
	width: 75%;
	line-height: 60px;
	margin-top: 14px;
    position: relative;
}
.awesome-content h2::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -17px;
	width: 16%;
	height: 1%;
	background-color: #0d6efd;
}
.awesome-content p{
	font-size: 15px;
	color: #727272;
	width: 75%;
	margin-top: 40px;
}
.awesome-gallary .card{
    width: 220px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    position: relative;
}
.awesome-gallary .card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.534);
    transition: .4s;
}
.awesome-gallary .card:hover::after{
    width: 0;
    height: 0;
}